[Unit]
Description = Suzakutakumi's portfolio site

[Service]
WorkingDirectory=/opt/portfolio
ExecStart=sudo ./main
Restart=always
Type=simple

[Install]
WantedBy=multi-user.target
